version: '3.8'

volumes:
  mongodb_data:
    driver: local

services:
  mongodb:
    image: docker.io/library/mongo:7.0.28
    restart: always
    volumes:
      - mongodb_data:/data/db
    # Este comando es vital para activar el tiempo real de Rocket.Chat
    command: mongod --replSet rs0 --oplogSize 128
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb-init:
    image: docker.io/library/mongo:7.0.28
    depends_on:
      mongodb:
        condition: service_healthy
    command: >
      mongosh --host mongodb:27017 --eval 
      'try { rs.initiate({ _id: "rs0", members: [ { _id: 0, host: "mongodb:27017" } ] }) } catch(e) { print(e); }'

  rocketchat:
    build: .
    restart: always
    depends_on:
      mongodb:
        condition: service_healthy
      mongodb-init:
        condition: service_completed_successfully
    env_file:
      - .env
    ports:
      - "3000:3000"