version: '3.8'

volumes:
  mongodb_data:
    driver: local

services:
  mongodb:
    image: docker.io/library/mongo:5.0
    restart: always
    volumes:
      - mongodb_data:/data/db
    # Este comando es vital para activar el tiempo real de Rocket.Chat
    command: mongod --replSet rs0 --oplogSize 128
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  rocketchat:
    image: docker.io/library/rocket.chat:latest
    restart: always
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      - MONGO_URL=mongodb://mongodb:27017/rocketchat?replicaSet=rs0
      - MONGO_OPLOG_URL=mongodb://mongodb:27017/local?replicaSet=rs0
      - ROOT_URL=http://localhost:3000
      - PORT=3000
      - DEPLOY_METHOD=docker
      - 
    ports:
      - "3000:3000"